beautifulsoup4==4.13.4
emoji==2.14.1
fonttools==4.59.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.178.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
google-play-scraper==1.2.7
googleapis-common-protos==1.70.0
huggingface-hub==0.34.1
joblib==1.5.1
langdetect==1.0.9
matplotlib==3.10.3
matplotlib-inline==0.1.7
networkx==3.4.2
numpy==2.2.6
pandas==2.3.1
pandocfilters==1.5.1
plotly==6.2.0
pyngrok==7.2.12
python-dotenv==1.1.1
regex==2024.11.6
requests==2.32.4
safetensors==0.5.3
scikit-learn==1.7.1
scipy==1.15.3
seaborn==0.13.2
streamlit==1.47.1
tokenizers==0.21.2
torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1
tqdm==4.67.1
transformers==4.54.0
wordcloud==1.9.4
xgboost==3.0.2
